@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;

  h1 {
    color: white;
    margin: 30px;
    text-shadow: 3px 3px darkgrey;
  }

  img {
    border: 3px solid white;
    display: block;
    margin: 0px auto 10px auto;
  }

  button {
    border: 1px solid white !important;
    box-shadow: 2px 2px darkgrey !important;
  }
}
